.main-cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heading {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .flight-nav-bar {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    margin-top: 18px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    width: 100%;

    input[type="text"] {
      width: 300px;
      height: 30px;
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 15px;
    }
    button {
      display: flex;
      gap: 3px;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
      padding: 6px 12px;
      border-radius: 6px;
      background-color: #002655;
      color: #f0f6ff;
      height: 40px;
      cursor: pointer;
    }
  }

  .flight-table {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;

    .header-row {
      display: flex;
      color: #f0f6ff;
      background-color: #002655;
      font-weight: 600;
      border-style: none;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      box-shadow: 0 0 0 1px #dbdcdb;

      .header-cell {
        padding: 0 15px;
        height: 56px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
    .table-row {
      display: flex;
      background-color: #fff;
      cursor: pointer;
      box-shadow: 0 0 0 1px #dbdcdb;

      &:hover {
        background-color: #dbdcdb;
      }

      .table-cell {
        flex: 1;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        word-break: break-word;
      }

      &:last-child {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
  }
}
